*   {
    box-sizing:border-box;
    }
body{
    margin:0;
    }
p   {
    font-family:'Merriweather', serif;font-weight:200;
    }
h1 h2 h3 h4 h5 h6{
    font-family:'Noto Sans HK', sans-serif;
    }
.header{
    text-align:center;padding:32px;
    }
.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding:0 4px;
    }
.column{
    -ms-flex:25%;
    flex:25%;
    max-width:25%;
    }
.column img{
    vertical-align:middle;
    width:100%;
    }
.offset-side{
    margin-left:5%;
    margin-right:5%;
    }
@media screen and (max-width:800px){
    .column{
        -ms-flex:50%;
        flex:50%;
        max-width:50%;
        }
    }
@media screen and (max-width:600px){
    .column{
        -ms-flex:100%;
        flex:100%;
        max-width:100%;
        }
    }

.effect img {
    opacity: 1;
    transition: 0.3s;
    -webkit-filter: grayscale(100%);
}
.effect img:hover{
    opacity: 1;
    -webkit-filter: grayscale(0%)
    }
